* {
  font-family: 'Monaco', 'Consolas', monospace;
}

body{
   margin:0;
   color:red;
   background:red;
}

header{
    background:white;
    color:red;
    padding:15px 15px 0 15px
}

header h1{
    margin:0;
    display:inline;
}

nav ul{
    margin:0;
    padding: 0 0 0 15px;
    display:inline;
}

nav ul li{
    background:red;
    color:white;
    display: inline-block;
    list-style-type:none;
    padding:5px 15px;
    margin:0;
}

nav ul li a{
    color:white;
}


.row:after {
    clear: both;
    content: " ";
    display: table;
}
.col{
    background:white;
    border-radius:5px;
    color:black;
    padding:10px .5px;
    padding-left: 5px;
    float:left;
    margin:.5%;
    width:31%;
}
.logo{
	width:25%;
}
.tx{
     padding:10px .5px;
     padding-left:10px;
     background:white;
     color:black;
     border-radius:10px;
     margin: auto;
     width:75%;
}
.title {
     padding-left:10px;
     margin:0;
     display:inline;
     color:white;
}
footer {
	margin:0;
	width:100%;
	background:white;
	bottom: 0px;
	position:fixed;
}
.webteam {
	background:red;
	width:25%;
	padding-bottom:0px;
	float:right;
}
.girlscode {
	width:20%;
	float:right;
	padding-right:15px;
}
.robotics {
	width:30%;
	float:right;
}
.ad {
	background:white;
	font-size:30px;
	color:black;
	float:left;
	padding-left:15px;
	top:20%;
	bottom:20%;
	position:absolute;
}
