body{
   margin:0; 
}

header{
    background:#999;
    color:white;
    padding:15px 15px 0 15px
}

header h1{
    margin:0;
    display:inline;
}

nav ul{
    margin:0;
    padding: 0 0 0 15px;
    display:inline;
}

nav ul li{
    background:black;
    color:white;
    display: inline-block;
    list-style-type:none;
    padding:5px 15px;
    margin:0;
}

nav ul li a{
    color:white;
}

.row:after { 
    clear: both; 
    content: " "; 
    display: table;
}
.col{
    background:#333;
    border-radius:5px;
    color:white;
    padding:10px .5px;
    float:left;
    margin:.5%;
    width:31%;
}
